In [2]:
## setup
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go
# for pretty printing dataframe that is not the last line
from IPython.display import display, HTML

pyo.init_notebook_mode(connected=True)
df = pd.read_excel("NHL Attendance.xlsx", sheet_name="Sheet1",header=0)
# df.to_csv('nhl_attendance.csv', index=False)
df.head()
# fig = go.FigureWidget(data=go.Bar(y=[2, 3, 1]))
# fig.show()

,SEASON,RANK,TEAM,HOME GAMES,HOME ATTENDANCE,ROAD GAMES,ROAD ATTENDANCE,TOTAL GAMES,TOTAL ATTENDANCE
0,2017-18,1,Chicago,41,887794,41,723773,82,1611567
1,2017-18,2,Montreal,41,873283,41,733736,82,1607019
2,2017-18,3,Philadelphia,41,800214,41,702781,82,1502995
3,2017-18,4,Detroit,41,800115,41,717295,82,1517410
4,2017-18,5,Toronto,41,786677,41,751940,82,1538617

In [3]:
# General info
display(df.shape)
display(df.info())

(511, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 9 columns):
SEASON              511 non-null object
RANK                511 non-null int64
TEAM                511 non-null object
HOME GAMES          511 non-null int64
HOME ATTENDANCE     511 non-null int64
ROAD GAMES          511 non-null int64
ROAD ATTENDANCE     511 non-null int64
TOTAL GAMES         511 non-null int64
TOTAL ATTENDANCE    511 non-null int64
dtypes: int64(7), object(2)
memory usage: 36.1+ KB

None

In [4]:
# number of seasons
seasons = df["SEASON"]
seasons.nunique()

17

In [14]:
# seasons data
season_starts = seasons.str.split('-', expand=True)

season_starts = pd.to_datetime(season_starts[0])
print("start year of earliest season:")
display(season_starts.min().year)
print("start year of latest season:")
display(season_starts.max().year)
# add season_start data to main df
df["season_start"] = season_starts.dt.year

start year of earliest season:

2000

start year of latest season:

2017

In [6]:
# Team data
team = df["TEAM"]
display(team.value_counts())
team_count = team.nunique()
print(f"number of teams = {team_count}")
# there are 30 teams that appeared in 17 season with 1 team (Vegas) joining in the 2017-2018 season

Winnipeg        17
Tampa Bay       17
Minnesota       17
Florida         17
Washington      17
Boston          17
Pittsburgh      17
Detroit         17
Dallas          17
St. Louis       17
Los Angeles     17
Philadelphia    17
New Jersey      17
Anaheim         17
Calgary         17
San Jose        17
Columbus        17
NY Rangers      17
Edmonton        17
Buffalo         17
Ottawa          17
Toronto         17
Carolina        17
Arizona         17
NY Islanders    17
Colorado        17
Montreal        17
Vancouver       17
Chicago         17
Nashville       17
Vegas            1
Name: TEAM, dtype: int64

number of teams = 31

In [15]:
# add average attendance into dataframe
df['average_attendance'] = df["TOTAL ATTENDANCE"] / df["TOTAL GAMES"]
df['average_attendance'] = df['average_attendance'].round().astype(int)
df.head()

,SEASON,RANK,TEAM,HOME GAMES,HOME ATTENDANCE,ROAD GAMES,ROAD ATTENDANCE,TOTAL GAMES,TOTAL ATTENDANCE,average_attendance,season_start
0,2017-18,1,Chicago,41,887794,41,723773,82,1611567,19653,2017
1,2017-18,2,Montreal,41,873283,41,733736,82,1607019,19598,2017
2,2017-18,3,Philadelphia,41,800214,41,702781,82,1502995,18329,2017
3,2017-18,4,Detroit,41,800115,41,717295,82,1517410,18505,2017
4,2017-18,5,Toronto,41,786677,41,751940,82,1538617,18764,2017

In [18]:
# adding change from previous year average attendence data
sorted_df = df.sort_values(["TEAM", "season_start"])
sorted_df["previous_avg_attendence"] = sorted_df.groupby(["TEAM"])["average_attendance"].shift(1)
sorted_df.head(20)

,SEASON,RANK,TEAM,HOME GAMES,HOME ATTENDANCE,ROAD GAMES,ROAD ATTENDANCE,TOTAL GAMES,TOTAL ATTENDANCE,average_attendance,season_start,previous_avg_attendence
508,2000-01,28,Anaheim,41,553470,41,682445,82,1235915,15072,2000,NaN
480,2001-02,30,Anaheim,41,492089,41,698804,82,1190893,14523,2001,15072.0
446,2002-03,26,Anaheim,41,573524,41,681215,82,1254739,15302,2002,14523.0
414,2003-04,24,Anaheim,41,614476,41,683183,82,1297659,15825,2003,15302.0
384,2005-06,24,Anaheim,41,620380,41,708029,82,1328409,16200,2005,15825.0
350,2006-07,20,Anaheim,41,671965,41,687980,82,1359945,16585,2006,16200.0
315,2007-08,15,Anaheim,41,704932,41,704175,82,1409107,17184,2007,16585.0
287,2008-09,17,Anaheim,41,696629,41,717541,82,1414170,17246,2008,17184.0
264,2009-10,24,Anaheim,41,621903,41,691793,82,1313696,16021,2009,17246.0
236,2010-11,26,Anaheim,41,604283,41,700649,82,1304932,15914,2010,16021.0
206,2011-12,26,Anaheim,41,605171,41,694212,82,1299383,15846,2011,15914.0
175,2012-13,25,Anaheim,24,381308,24,420552,48,801860,16705,2012,15846.0
141,2013-14,21,Anaheim,41,675248,41,754564,82,1429812,17437,2013,16705.0
110,2014-15,20,Anaheim,41,691835,41,707619,82,1399454,17067,2014,17437.0
83,2015-16,23,Anaheim,41,669805,41,708275,82,1378080,16806,2015,17067.0
52,2016-17,22,Anaheim,41,653632,41,712908,82,1366540,16665,2016,16806.0
22,2017-18,23,Anaheim,41,682060,41,710284,82,1392344,16980,2017,16665.0
507,2000-01,27,Arizona,41,583194,41,683183,82,1266377,15444,2000,NaN
479,2001-02,29,Arizona,41,539770,41,683142,82,1222912,14914,2001,15444.0
449,2002-03,29,Arizona,41,542404,41,664118,82,1206522,14714,2002,14914.0

In [19]:
# add y/y changes
sorted_df["avg_attendance_change_from_prev"] = (sorted_df["average_attendance"] - sorted_df["previous_avg_attendence"]) / sorted_df["previous_avg_attendence"]
sorted_df.head()

,SEASON,RANK,TEAM,HOME GAMES,HOME ATTENDANCE,ROAD GAMES,ROAD ATTENDANCE,TOTAL GAMES,TOTAL ATTENDANCE,average_attendance,season_start,previous_avg_attendence,avg_attendance_change_from_prev
508,2000-01,28,Anaheim,41,553470,41,682445,82,1235915,15072,2000,NaN,NaN
480,2001-02,30,Anaheim,41,492089,41,698804,82,1190893,14523,2001,15072.0,-0.036425
446,2002-03,26,Anaheim,41,573524,41,681215,82,1254739,15302,2002,14523.0,0.053639
414,2003-04,24,Anaheim,41,614476,41,683183,82,1297659,15825,2003,15302.0,0.034179
384,2005-06,24,Anaheim,41,620380,41,708029,82,1328409,16200,2005,15825.0,0.023697

In [20]:
# export data as csv
sorted_df.to_csv("nhl_attendance.csv", index=False)

In [8]:
# checking which year is the original visualization showing
year_filter = df['SEASON'] == "2012-13"
s2012_df = df.loc[year_filter, :].sort_values(by=["TEAM"])
display(s2012_df[["TEAM", "average_attendance"]])
# data = go.FigureWidget(data=go.Bar(
#     x=s2012_df["TEAM"],
#     y=s2012_df["average_attendance"]
#     )
#     )
# season = s2012_df.iloc[0,0]
# layout = go.Layout(
#     title= f"Average NFL attendance {season}"
#     )
# fig = go.Figure(data=data, layout=layout)
# fig.show()

# The original visualization probably shows data for 2012-13 but it seems to be mid season numbers instead of full season number

             TEAM  average_attendance
175       Anaheim               16705
179       Arizona               15827
165        Boston               18005
159       Buffalo               18173
157       Calgary               17988
167      Carolina               17652
151       Chicago               19969
176      Colorado               16626
178      Columbus               15983
171        Dallas               16955
153       Detroit               19227
174      Edmonton               17274
172       Florida               17439
163   Los Angeles               17820
161     Minnesota               18026
152      Montreal               19460
180  NY Islanders               15772
169    NY Rangers               17828
173     Nashville               17181
170    New Jersey               17547
156        Ottawa               18564
154  Philadelphia               18984
162    Pittsburgh               18254
166      San Jose               17368
168     St. Louis               17432
158     Tampa Bay               18304
155       Toronto               18727
160     Vancouver               18189
164    Washington               17836
177      Winnipeg               16497

# Visualization (before)
![NHL attendance](2019w1_viz_before.png "Viz before")

# Notes
The original visualization shows info on average total attendance by team, as well as the year on year % change from previous year. The original visualization however does not contain full season data as it was posted on feb 2013 while a season is usually from October to June the following year, hence making a year on year % change comparison inaccurate.  
  
The provided dataset contains season from 2000-01 to 2017-2018. There is no season 2004-05 due to a labor lockout. 
  
There are 30 teams that participated in all 17 season and 1 team (Vegas) that joined in 2017-18.  
  
Attendence and games played are divided into home and road. As the number of games played are not the same across teams, average attendance per game should be used instead of total attendance

# Problems with original visualization
1. lack of a title that gives more info on data
2. double y-axis with 2 graphs lumped together makes it difficult to identify which y-axis belongs to which data
3. left y-axis is not zero based, which makes it hard to compare data accurately between teams
4. Line graphs usually implies a connection between points and is not a good choice for categorical data. Hence using it for year on year change is potentially confusing for audiences
5. Similar color choices and shades for 2 overlaping graph makes the graphs difficult to differentiate
6. diagonal team names on x-axis makes it slightly difficult to read

# Changes
1. add title with applicable season/s
2. set team categories on y-axis so that they can be displayed horizontally
3. separate the 2 dataset
4. show average attendance sorted by attendance instead of teams
5. show Year on Year increase as another bar chart beside the attendance chart instead of overlapping
6. highlight top and bottom attendance changes, with color codings to link data between charts

# Visualization (after)
![NHL attendance](2019w1_viz_after.png "Viz before")